{% extends 'base2.html' %}<!--只要是extend 他就會把別人的block蓋掉-->
{% block title %}歡迎光臨我的部落格{% endblock title %}
{% block headmessage %} <h3 style='font-family:標楷體;'>本站文章列表</a>
{% endblock headmessage %}
{% block content %}
測試
<a href='{% url 'post-url' 2015 10 3 02 %}'>show Post</a><!--url是關鍵字 超連結 定義超連結的網址(2015/10/3/02) 他會跑到urls去驗證name是否一樣 一樣才可以-->

{% for post in posts %}<!--把變數放裡面 要有代表迴圈-->
<div class='card'><!--讓他只show出40個字以內的 如果要看完整的就要點進去看-->
    <div class='card-header'>
        <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
            <a href='{% url 'showpost' post.slug %}'>{{ post.title }}</a><!--活的超連結-->
        </p>
    </div>
    <div class='card-body' style='background-color:#97CBFF'><!--他的背景要改成啥顏色-->
        <p>
           {{ post.body | truncatechars:40 }}<!--超過40個字元就不show出來-->
        </p>
    </div>
    <div class='card-footer'  style='background-color:#5CADAD'>
        <p>
            發佈時間：{{ post.pub_date | date:"Y M d, h:m:s A"}}<!--post.pub_date顯示該時間 後面就是他的格式-->
        </p>
    </div>
</div>
<br><!--每顯示一次就換行 因為他在迴圈裏面 所以用完一個card就會換行-->
{% endfor %}<!--迴圈的結尾-->
{% endblock content %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<!-- <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>歡迎光臨</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body><!--呈現的東西都在body-->
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!--        <h1>歡迎光臨部落格</h1>
        <hr><!--水平線-->
<!--        {% for post in posts %}<!--把變數放裡面 要有代表迴圈-->
<!--         <p style="font-family:微軟正黑體;font-size:14pt;font-weight:bold;">
            <a href="/post/{{post.slug}}">{{post.title}}</a><!--a href代表超連結 slug是代表你當時在資料庫設定的那個網址 title就是你資料的標題 且用超連結-->
<!--         </p>
        {% endfor %}<!--迴圈的結尾-->
<!--        <hr>
        現在時間:{{now}}<!--圈起來的是變數-->
<!--         <script src="" async defer></script>
    </body>
</html>
-->