{% extends 'base2.html' %}<!--會先繼承base裡面的網站 然後如果後面有提到block ...就是post的把base的蓋掉-->
{%load markdown_extras %}
{% block title %}{{post.title}} - 文學天地{% endblock title %}
{% block headmessage %} 
    <h3 style='font-family:微軟正黑體;'>{{ post.title }}</h3><!--這邊的post title指的是 點進去超連結 歡迎光臨下面的標題 EX:相思-->
    <a style='font-family:微軟正黑體;' href='/'>回首頁</a>
{% endblock headmessage %}
{% block content %}
<p style='font-family:微軟正黑體;font-size:12pt;letter-spacing:2pt;'>
    {{ post.body | convert_markdown | safe}}</a><!--讓放在資料庫裏面的圖片可以跑 就多打 | safe  且呼叫markdown的檔案-->
</p>
{% endblock content %}




<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<!--<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>這一篇</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!--        <h1> {{post.title}}</h1>
        <hr>
        <p style="font-family:微軟正黑體;font-size:14pt;font-weight:bold;">
            {{post.body}}
        </p>
        <hr>
        {{ post.pub_date}}
        <h3>
            <a href="/">回首頁</a><!--"/"這邊是跟目錄 也就是回首頁的意思-->
<!--        </h3>
        <script src="" async defer></script>
    </body>
</html>
-->