<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title  %}{% endblock title  %}<!--block 是一個洞的意思 會在其他html把他補上去-->
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"><!--meta name="viewport" 讓手機看的到要加這行-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"><!--用css的模板-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container-fluid"><!--最外層框架 沒有fluid就是 旁邊有留白 秀中間的 有的話就是強制滿版-->
            {% include "header.html" %}<!--包括 直接複製一份過來這裡 所以她的頁面還會是base-->
            <div class="row"><!--先切一列出來 剛好分出來是左右-->
                <div class="col-sm-3 col-md-3"><!--切左邊是3欄 加起來不可以超過12-->
                    <div class="card"><!--有不同的預設class 可以在bootstrap可以找的到-->
                        <div class="card-header">
                            <h3>Menu</h3>
                        </div>
                        <div calss="card-body"><!--card這個東西裡面的內容-->
                            <div class="list-group">
                                <a href='/' class="list-group-item">HOME</a><!--回到首頁-->
                                <a href="{% url 'show_all_posts' %}" class="list-group-item">Table版本的</a><!--他在urls那邊沒有參數 所以她只會讓程式知道要加一個網址-->
                                <a href='https://google.com/news ' class="list-group-item">即時新聞</a><!--跑到該網址 並且標題是即時新聞-->
                                <a href='https://youtube.com/' class="list-group-item">Youtube</a><!--跑到該網址 並且標題是Youtube-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9"><!--他都在row裡面 切右邊是9欄 每一欄都可以繼續切 也是加起來不超過12個-->
                    <div class="card">
                        <div class="card-header"><!--在卡片的最上面放 headmessage-->
                            {% block headmessage %} <!--他會把post那邊的空洞蓋掉 但是字體那些都會在-->
                            {% endblock %}<!--endblock後面可加可不加 headmessage-->
                        </div>
                        <div class="card-body">
                            {% block content %} {% endblock %}
                        </div>
                        <div class="card-footer">
                            {% include 'footer.html' %}<!--這邊是指現在時刻那邊-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
                </div>
        </div> 
        
        <script src="" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script><!--用javascript的模板-->
    </body>
</html>